/* Centre verticalement le burger button + recherche */
.middle {
    padding-top: 5px;  !important
}

.bgd{
    background-color: #DCDCDC;
    padding: 10px;
}
.autre{
    display: inline-block;
}
.radioList input[type="text"]{
    display: inline;
    width: 150px; !important;
}
#btn{
    list-style: none;
    background: #2f3036;
    text-align: center;
}

.hide{
    display: none;
}

.stickyRight{
    position: fixed;
    left: 20px;
    top: 100px;
}

.btnElem{
    margin: 0;
    max-height: 100px;
    max-width: 150px;
    display: block;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btnElem:hover, .btnElem:focus{
    background-color: #19c589;
    color:white;
}
.btnElem:disabled, .btnElem:disabled:hover {
    background-color: #00aae4;
}

#cpButton {
    display: block;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

.radioList{
    list-style: none;
    max-height: 100px;
    overflow-y: scroll;
}

.checkboxList{
    list-style: none;
    max-height: 100px;
    overflow-y: scroll;
}
.displayList {
    margin-top:180px;
}

#menuRecherche {
    margin-top: 50px;
}

.title-bar {
    background: #2f3036;
}

/* Inutile avec Fondation */
.tab-group {
    margin: 0 auto;
    max-width: 40em;
    width: 100%;
}

.tab {
    position: relative;
    width: auto;
}

.tab input {
    overflow: hidden;
    position: absolute;
    left: 37em;
    top: 10px;
    z-index: -999;
}

.tab label {
    background: #72d2c6;
    color: #fff;
    display: block;
    font-weight: bold;
    line-height: 3;
    padding-left: .5em;
    padding-right: .5em;
    transition: letter-spacing .55s;
}

.tab input:focus + label,
.tab label:hover {
    background: #85d8ce;
    letter-spacing: 1px;
}

.tab-content {
    max-height: 0;
    margin-left: 20px;
    overflow: hidden;
    transition: all .35s;
}

.tab-content p {
    margin: 1em 0;
}

.tab input:checked ~ .tab-content {
    max-height: 9.25em;
}

.tab input:checked {
    z-index: 0;
}

.stickyRight {
    margin-left: 30px;
}

.myLeft{
    display: block;
    text-align: left;
    padding-left: 5px;
}