body {
    background-image: url(https://daks2k3a4ib2z.cloudfront.net/546f14a5c9e198387b0a0889/54711743d33ced881f056d52_backgrounds.jpg);

    background-size: 100% 150%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
