#displayCompare {
    color: red;
    padding-right: 10px;
}



.tab-group {
    margin: 0 auto;
    max-width: 100em;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.3);
}

.tab {
    position: relative;
    width: 16em;
    margin: 0.5em;
    display: inline-block;
    background-color: rgb(250, 240, 200);
    border: solid 2px;
    border-radius: 4px 4px 4px 4px;
    border-color: rgb(250, 240, 200);
}

.addBorder {
    border-color: rgb(124, 150, 62); /*green*/
}

.tab input[type="checkbox"] {
    display: none;
}

input:checked + .square {
    position: absolute;
    left: 14.6em;
    display: inline-block;
}

.tab input:checked + .square:after {

    content: "\2713";
    color: rgb(250, 240, 200);
    font-size: 1.5em;
    position: absolute;
    top: -9px;
    left: 1px;
    z-index: 2;
}

.tab input:checked + .square:before {

    content: "";
    background-color: rgb(124, 150, 62);
    width: 20px;
    height: 20px;
    border-radius: 2px;
    position: absolute;

    z-index: 1;
}

.tab a:link {
    color: #72d2c6;
}

.tab a:visited {
    color: black;
}

.tab label {
    margin: auto;
    position: relative;
    background: #72d2c6;
    color: rgb(250, 240, 200);
    display: block;
    font-weight: bold;
    border-radius: 4px 4px 0px 0px;
    line-height: 3;
    padding-left: 0.5em;
    transition: letter-spacing .55s;
}

.tab input :focus + label,
.tab label:hover {
    background-color: #85d8ce;
    letter-spacing: 1px;
}

.tab-content p {
    margin: 1em 0;
    max-width: 15em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}



