
.login-box {
    margin: 100px 0;
    justify-content: center;
    padding: 40px 20px 0 20px;
}

#ajouterEvenement {
    
    position: fixed;
    margin-left: 95%;
    margin-top: 5%;
}

.event {
    padding: 1rem 1rem 1rem 0;
    display: table;
    z-index: 1;
}

.event-date {
    width: 6rem;
    margin: 0 auto 1rem;
    display: table-cell;
    width: auto;
}

.event-date .event-month {
    margin: 0;
    background: #eee;
    padding: 0.5rem 2rem;
    text-align: center;
}

.event-date .event-day {
    margin: 0;
    border: 1px solid #eee;
    padding: 0 2rem;
    text-align: center;
    font-size: 2rem;
}

.event-desc {
    padding: 0 0 0 1rem;
    text-align: left;
    display: table-cell;
    vertical-align: top;
}

.event-desc .event-desc-header {
    margin: 0 0 0.5rem 0;
    padding: 0;
}

.event-desc .event-desc-detail {
    margin: 0 0 0.25rem;
    padding: 0;
}

.event-desc .event-desc-time {
    font-weight: bold;
}

.detailbutton {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.detailbutton:hover {
    cursor: pointer;
}

.information {
    float: left;
    background-color: #E5E6E5;
    margin-right: 50px;
}

#ajouterEvent, #newEntreprise, #changeEvent,#editEntr {

    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 6px 6px 6px black;
    
    width: 50%;
    height: 800px;
}
#editEntr{
	height:1000px;
	width:700px;
}
#ajouterEvent,#newEntreprise{
	background-image: url(https://daks2k3a4ib2z.cloudfront.net/546f14a5c9e198387b0a0889/54711743d33ced881f056d52_backgrounds.jpg);
  	
  	background-size: 100% 150%;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
}

#newEntreprise {
    height: 1000px;
}

#scroll, #scroll1, #scroll2 {
    overflow-y: scroll;
    max-height: 150px;
    
}
#tests{
	width:650px;
}
#addEntreprise, #addTechnologie, #addActivite {
    margin-left: 98%;
    text-align: right;
}

#filtre {
    width: 230px;
    background-color: #DCDCDC;
    margin-top: 50px;
    position: fixed;
    margin-left: 10px;
}

#filtre h4{
    text-align: center;
    padding-top: 10px;
}

.head {
    background-color: gray;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

#planning {
    width: 80%;
    margin-left: 15%;
    margin-top: 100px;
}

#modifierEvent {

    margin-left: 95%;
}

#changeEvent,#editEntr {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#ajoutContact {
    margin-top: 200px;
}

#ValidationStage, #ajProp {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

#validStage, #ajoutPropo, #filtrePlan {
    padding-left: auto;
    padding-right: auto;
}

.button.expand, .button {
    color: #fff;
    background: #2f3036;
}

.button.expand:hover, .button:hover {
    background: #19c589;
}

fieldset{
    background-color: rgba(0,0,0,0.4);
    
}

.fieldset legend{
    background: rgba(0,0,0,0); !important;
    color: white;
}
fieldset div,label{
    color: white;
}

fieldset input[type="text"],fieldset input[type="tel"],fieldset input[type="email"]{
    color : white;
    background-color: rgba(0,0,0,0.3);
}

fieldset input[type="text"]:focus, fieldset input[type="tel"]:focus,fieldset input[type="email"]:focus{
    color : white;
    background-color: rgba(0,0,0,0.3);
}

fieldset input[type="number"]:focus{
    color : white;
    background-color: rgba(0,0,0,0.3);
}
fieldset input[type="number"]{
    color : white;
    background-color: rgba(0,0,0,0.3);
}
fieldset textarea{
    color : white;
    background-color: rgba(0,0,0,0.3);
}

#ajouterEvent textarea{
	 color : white;
    background-color: rgba(0,0,0,0.3);
}

#ajouterEvent input[type="text"]{
	color : white;
    background-color: rgba(0,0,0,0.3);
}

#newEntreprise input[type="text"]{
	color : white;
    background-color: rgba(0,0,0,0.3);
}
#editEntr input[type="text"]{
	color : white;
    background-color: rgba(0,0,0,0.3);
}
